<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
   <!--  <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"> <i class="icon ion-md-heart"></i></button>
    </div> -->
  </ion-header-bar>
  <ion-content class="main-content">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
